// color
$main-color: #00adec;
$sec-color: #9e9e9e;
$thr-color: #193061;

$title-color: #d0021b;
$white-title-color: #f0f0f0;

$paragraph-color: #9e9e9e;

$button-color: #004876;


$blue-background-color: #004876;
$gray-background-color: #f6f9fc;
$white-background-color:white;

// 60
// 30
// 24
// 18
