<!DOCTYPE html>
html(lang='zh-hant')
    head
        include ../components/head.pug 
        block head
    body
        include ../components/header.pug
        main
            block content
        include ../components/footer.pug
